.comment-body {
  footer {
    background-color: #0a1825;
    border-top: 2px solid #0ab7e8;
    img {
      margin: 1rem;
    }
  }
  .comment-content {
    background-color: #043035;
    border-bottom: 1px solid #0a666e;
    color: #fe700e;
    padding:1rem;
  }
  .reply {
    background-color: #151925;
    padding: 1rem;

  }
}
