.first-section {
  margin-top: 0px;
  /*background-color: black;*/
   /*padding-top: 55px;*/
   padding-bottom:20px;
//  padding: 20px 30px 50px 80px;
.first-heading {
  font-size: 4rem;
}
}

.first-section h1 {
  margin-top: 0px;
  color: rgb(228, 78, 9);
/*font-size: 50px;*/
padding: .3rem;
}

.first-section h3{
color: #06b6a9;
}
