.full-title{
  color: #ff4800;
  margin-top: 130px;
  font-size: 60px;
  background-color: rgba(15, 1, 1, 0.67);
  display: inline-block;
  padding: 10px;
  border: 1px solid #00f6ff;
}
.full-paralax{
  border-bottom:3px solid red;
}
